body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

.box-title {
  background-color: #11161D;
  color: #E6F3FF;
  width: 50%;
}

.disquette { 
  width: 10%;
  padding-bottom: 20px;
}

header {
  background-image: url(../img/bg-background.png);
  padding: 30px;
}

.section-light {
  background: #E6F3FF;
  padding: 30px;
}

.section-dark {
  background: #11161D;
  padding: 30px;
}

.act-light {
  display: flex;
  background-color: #E6F3FF;
  color: #11161D;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  margin: 20px;
  padding: 10px;
}

.act {
  display: flex;
  background-color: #11161D;
  color: #E6F3FF;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  margin: 20px;
  padding: 10px;
}

footer{
  background: #11161D;
  padding: 30px;
}